node_modules/
dist/
target/
core/*/target/

*.AppImage
*.deb
*.rpm
*.msi
*.map

.DS_Store
*~
.idea/
.vscode/

**/tests/tmp/
**/tests/output/
**/tests/corpus/*
!**/tests/corpus/README.md

modules/*/src/js/core/
modules/*/src/vendor/pdf-lib.esm.js
modules/*/src/vendor/LICENSE.pdf-lib
modules/*/src-tauri/icons/ios/
